nav {
  width: 100%;
  font-size: 30px;
  color: #fff;
  margin-bottom: 50px;
  background-color: rgb(56, 56, 56);
  height: auto;
 
}

a {
  color: #fed420;
}

a:hover {
  color: #fed420;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 26px 0;
  width: 25%;
  /* text-align: center; */
}

ul {
  /* padding-left: 0px; */
  display: flex;
  align-items: center;
}
.correct {
  -webkit-animation: color-change 0.6s infinite ;
}

@-webkit-keyframes color-change {
  0% { color:#31b1804d; }
  50% { color: #31b180; }
  100% { color: #31b1804d; }
}
.incorrect {
  color: rgb(230, 62, 62);
}
#cur-sco{
  margin-left: 39px;
}
#top-sco{
  margin-left: -75px; 
}

